## SVM(Support Vector Machines)

In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

### Import iris dataset

In [9]:
import pandas as pd
df = pd.read_csv('iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### Check the missing values

In [11]:
s = df.isna().sum()
s

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [12]:
s[s>0]

Series([], dtype: int64)

#### Seperate X and Y features

In [13]:
X = df.drop(columns=['species'])
Y = df[['species']]

In [14]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [15]:
Y.head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

#### Perform label encoding on Y columns